.selection-widget__container{
    display: flex;
    gap: 10px;
}

.selection-widget__item{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #D5E7F4;
    border-radius: 10px;
}

.active-selection{
    box-shadow: 0px 0px 4px #3F9F2B;
}